.btn-link {
	color: black;
}
.weather {
	width:  150px;
	height: 100px;
	background: skyblue;
}
.header_space {
	height: 100px;
}
.header_space_xs {
	height: 25px;
}
navbar-default {
	border-color: white;
}
navbar-header > .container {
	background: white;
}

ul.navbar-nav {
	background: white;
	border-top: 6px black solid;
	border-bottom: 1px black solid;
}

ul.navbar-nav > li {
	border-bottom: none;
	font-weight: bold;

}

#logo {
	margin: auto; width: 350px; height: 80px; margin-top: -100px; font-size: 2.5em; color: black; text-align: center; line-height: -40px;
}

/** 떠 있는 영역 */
.navbar-wrapper {
	position: absolute;
	top: 0; left: 0; right: 0; 
	z-index: 20;

}

/** 메뉴바 안의 컨테이너 좌우 여백 제거 */
.navbar-wrapper .container {
	padding-left: 0; padding-right: 0;

}

/** 메뉴바 자체의 좌우 여백 조절 */
.navbar-wrapper .navbar {
	padding-left: 15px; padding-right: 15px;


}

/** 떠 있는 메뉴바의 반응형 기능 */
@media (min-width: 768px) {
	.navbar-wrapper { margin-top: 120px; }
	
	.navbar-wrapper .navbar {
		padding-left: 0px; padding-right: 0px;
	}

	.navbar-wrapper .navbar { border-radius: 4px; }

	.navbar-wrapper form.navbar-right {
		margin-right: 20px !important;
	}
}
@media (max-width: 767px) {
	ul.navbar-nav > li {width: 100%;}
}
body {
	padding-bottom: 20px;
}


/* 캐러셀 */
.carousel {
	height: 500px;
	margin-bottom: 60px;
}

.carousel-inner > .item > img {
	min-width: 100%;
	height: 500px;
}

.carousel-inner .carousel-caption {
	padding-left: 30px;
	padding-right: 30px;
	background-color: rgba(0,0,0,0.5) !important;
}

@media (min-width: 768px) {
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}
}



/* 푸터 */
footer {
	display: block;
	height: 40px;
	margin-bottom:-40px;
	background: black;
	color: white;
	text-shadow: 1px 1px 1px gray;
}

address {
	margin-bottom: 0;	
}